* {
    font-family: "Inter", serif;
    font-weight: 400;

    --grey: #EFEFEF;
    --dark-grey: #D9D9D9;
    --darker-grey: #BFBFBF;
    --blue: #2d70e2;
    --lighter-blue: #4d8ff7;
    --dark-blue: #1f5bbf;

}




li{
    list-style: none;
    padding: 2%;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin: auto 0 100px;
    
}

nav div{
    display: flex;
    font-size: 300%;
    
}

nav ul{
    display: flex;
    
}

figure{
    display: flex;
    justify-content: center;
}



article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    
}

#description{
    max-width: 400px;
    margin: 0 30px 20px;
}

article div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-button{
    color: inherit;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
}

.menu-button:hover{
    transform: scale(2.2);
    background-color: var(--grey);
}

.menu-button:active{
    background-color: var(--dark-grey);
}






.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    background-color: var(--grey);
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}

.button:hover{
    background-color: var(--dark-grey);
}

.button:active{
    background-color: var(--darker-grey);
}

.button-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    background-color: var(--blue);
    color: white;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    
}

.button-blue:hover{
    background-color: var(--lighter-blue);
}

.button-blue:active{
    background-color: var(--dark-blue);
}

#logo {
    font-size: 3rem;  
    text-decoration: none;
    color: black;
    padding: 10px 0px;
  }
  

#hero-image{
    width: 60%;
    max-width: 300px;
    padding: 5px;
    border-radius: 50%;
}


#short-description{
    padding-bottom: 0;
    margin: auto 30px;
}

#name{
    font-size: 45px;
    padding: 0;
    margin: 0;
}

.icon{
    width: 40px;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    padding: 5px 10px 0;
    margin: 30px 10px 0;
    border-radius: 8px;
    text-decoration: none;
    scale: 150%;
}

.social-media-button-icon{
    padding: 0 10px;
    margin: 0;
}



#project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.project{
    max-width: 250px;
    border: var(--grey) 1px solid;
    border-radius: 12px;
    padding: 0;
    margin: 20px;
    box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.2);
}

.project:hover{
    transform: scale(1.05);
}



.project-image{ 
    max-width: 250px;
    border-radius: 12px 12px 0 0;
    padding: 0;
    
    
}

.project-button{
    
    margin: 0 10px 10px;
}




footer {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}



.contact-form{
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 2rem auto;
    padding: 3%;
    border: 1px solid var(--grey);
    border-radius: 12px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-firstname,
.form-lastname,
.form-email,
.form-message,
.form-button {
    display: flex;
    flex-direction: column;
}


.form-firstname input,
.form-lastname input,
.form-email input,
.form-message textarea {
    padding: 2%;
    resize: none;
}

.form-button button {
    padding: 3%;
    border: none;
    cursor: pointer;
}


.form input:focus,
.form textarea:focus {
    outline: none;
}

.contact-form input{
    width: 378px;
    border-radius: 8px;
    border: 1px solid var(--grey);
}


.contact-form textarea {
    width: 378px;
    border-radius: 8px;
    min-height: 150px;
    max-height: fit-content;
    resize:none;
    border: 1px solid var(--grey);
}


#not-yet-implemented a{
    text-decoration: none;
    color: var(--blue);
}


@media (max-width: 560px) {

    nav {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    nav div {
        display: flex;
        font-size: 300%;
        justify-content: center;
        padding: 0;
        
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        
    }

    li{
        padding: 10%;
    }

    .project{
        margin: 0 20px 20px;
    }
    
    .menu-button{
        font-size: larger;
    }

}


